
body{
margin: auto;
}

/*Menú Desplegable*/

nav {
    background-color: black;
    font-size: 20px;
}


.menu-horizontal {
    margin-top: auto;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0%;
    /*revisar xq me pisa el menu desplegble*/
}

.menu-horizontal li a {
    display: block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
}

.menu-horizontal li:hover {
    background-color: black;
}

.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: rgba(0, 0, 0, .5);
}

.menu-horizontal li:hover .menu-vertical {
    display: block;
}

.menu-vertical li:hover {
    background-color: black;
}

.menu-vertical li a {
    display: block;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

.box {
    margin-top: 25px;
    position: absolute;
    left: 90%;
    transform: translate(-50%, -50%);
}

input.src {
    padding: 4px 10px 4px 30px;
    outline: none;
    font-size: 15px;
    border-radius: 25px;
    color: #8f8fc2;
    border: 1px solid white;
    background-image: url(imagenes/lupa.png);
    background-size: contain;
    width: 60px;
    transition: all .5s;
    background-repeat: no-repeat;
}

input.src:hover {
    width: 180px;
    background-color: #fff;
    border-color: black;
    box-shadow: 0 0 5px #6dcff680;
    margin-right: 30px;
}
/*Titulo de página*/

.titulo{
    text-align: center;
    padding: 4%;
 }

/*Galeria de Productos*/



.container-img{
    width: 100%;
    max-width: 1200px;
    height: 430;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-img .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-img .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-img .card img{
    width: 330px;
    height: 220px;
}

.container-img .card h2{
    font-weight: 600;
}

.container-img .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-img .card a {
    font-weight: 500;
    text-decoration: none;
    color: rebeccapurple;
}

/*Footer*/


.footer {
    display: block;
    text-align: center;
    box-sizing: border-box;
    bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
}

#redes {
    text-decoration: none;
    display: block;
    justify-content: space-around;
}

#redes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #8f8fc2;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 6px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

#redes a:hover {
    transform: scale(1.2);

}

.copyright {
    color: black;
    font-size: 13p;
    margin: 20px;
}
