body{
    margin: auto;
}


.navbar-light .navbar-brand{
  color: white !important;
}

.dropdown-item:hover {
background-color: #a5b1bb!important;
}

.nav-link{
  color: white !important;
}

.container-img{
    width: 100%;
    max-width: 1200px;
    height: 480;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
}

.container-img .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-img .card{
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fff;
}

.container-img .card img{
    width: 330px;
    height: 220px;
    object-fit: cover;
}

.container-img .card h2{
  font-weight: 100;
  font-family: sans-serif;
  padding: 4%;
}

.container-img .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 100;
}

.container-img .card a{
    font-weight: 500;
    text-decoration: none;
}

.container-img .card.active{
    background-color: gainsboro;
    transform: scale(1.3);
    position: fixed;
    z-index: 10;
    top: 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    filter: none!important;
}

.container-img .card.hidden{
    filter:blur(2px) grayscale();
}

.container-img .card{
    z-index: 1;
}

.container-img.active::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-color: rgba(0, 0, 0, 10%);
    z-index: 1;
}
/*MOSTRAR INFO*/
.hide{
 display: none;
}

.btn-detalles{
  justify-content: center;
  text-decoration: none;
  margin-left: 35%;
  margin-top: 60px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: red;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  width: 100px;
  
}

.show{
  display: block;
  margin-bottom: -20%;
}
.footer { 
    width: 100%;
    background-color: black;

  }
   .footer .grupo-1{ 
    width: 100%;
    max-width: 1200px;
    margin: auto;
     display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }

    .boton{   
    width: 80%;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    background: red; 
    color: #0d2033;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }

   .boton span{
    position: relative;
    z-index: 2;
    transition: .3s ease;
   }

   .boton::after{
    content: "";
    width: 100%;
    height: 100%;
    background: burlywood;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out;
   }

  .boton:hover::after{
    top: 0;
  }
  
.contenedor2{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }

  .contenedor2 i{
    font-size: 25px;
    color: #0d2033;
  }

  .contenedor2 .p1 {
    cursor: pointer;
  }

   .footer .grupo-1 .boxx h2{ 
    color: aliceblue;
    margin-bottom: 25px;
    font-size: 20px;
  }
   .footer .grupo-1 .boxx a{ 
    text-decoration:none;
    color: #efefef;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
   .footer .grupo-1 .redes a{ 
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }

   .footer .grupo-1 .redes a:hover{ 
    color: blue;
  }

  .footer .grupo-2{ 
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: white;
  }

  .footer .grupo-2 small{
    font-size: 12px;
  }

   @media screen and (max-width: 800px){    
    .footer .grupo-1 {
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;  
    }
  }
