body {
    margin: auto;
}

/*Menú Desplegable*/


/*Galeria de Productos*/

.container-img {
    width: 100%;
    max-width: 1200px;
    height: 430;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/*boton cerrar*/

.cerrar {
    text-align: justify;
}


/*Galeria de Productos*/

.container-img .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-img .card {
    width: 330px;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #fff;
    cursor:pointer;
}


.container-img .card img {
    width: 330px;
    height: 220px;
    object-fit: cover;
}

.container-img .card h2 {
    font-weight: 200;
    font-family: revert;
}

.container-img .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 100;
}

.container-img .card a {
    font-weight: 500;
    text-decoration: none;
    color: rebeccapurple;
}

/*ventana modal*/
.container-img .card.active{
    background-color: gainsboro;
    transform: scale(1.3);
    position: fixed;
    z-index: 10;
    top: 15%;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    filter: none!important;
}

.container-img .card.hidden{
    filter:blur(2px) grayscale();
}
.container-img .card{
    z-index: 1;
}
.container-img.active::after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0%;
    background-color: rgba(0, 0, 0, 10%);
    z-index: 1;
}

/*boton de card*/
.boton-verdetalles {
    color: white;
    background-color: black;
    border: none;
    padding: 1em;
    border-radius: 5px;
}

.boton-verdetalles:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    color: aqua;
}


/*Footer*/

/*Footer*/
.footer {
    display: flex;
    text-align: center;
    box-sizing: border-box;
    bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e8edf1;
    margin-top: -5px;
    height: 141px;

}

#redes {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

#redes a {
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    box-shadow: 2px 6px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}

#redes a:hover {
    transform: scale(1.2);

}

.copyright {
    color: black;
    font-size: 13p;
    margin: 0px;
    padding: 20px;
}

.copy {
    display: flex;
    float: left;
}

.section-redes {
    float: right;
}